<h1>List of Current Landmarks:</h1>

<% @landmarks.each do |landmark| %>
  <li> <a href="/landmarks/<%= landmark.id %>"> <%= landmark.name %> </a></li>
  <li> Year Built: <%= landmark.year_completed %> </li>
<% end %>